/db/dump/*
/db/data/*
/db/mongo/*
!/db/dump/.gitkeep
!/db/data/.gitkeep
!/db/mongo/.gitkeep

/wordpress/public/wp-config.php
/wordpress/public/wp-content
!/wordpress/public/wp-content/themes

/strapi-app
